include *.rst
include *.txt
include LICENSE

# added by check_manifest.py
recursive-include doc *.html

# added by check_manifest.py
include *.py

# added by check_manifest.py
recursive-include docs *.html
